fastapi[standard]
uvicorn[standard]
jinja2
python-multipart
passlib[bcrypt]
python-jose[cryptography]
itsdangerous
pydantic>=2.0.0
email-validator>=2.0.0

# Dependências de teste
pytest
pytest-asyncio
pytest-cov
