body {
    background-color: #ffffff;
    font-family: 'Afacad', sans-serif; 
}

.login-container {
    background-color: #ffffff;
    border: 2px solid #1a8754;
    border-radius: 30px;
    max-width: 500px;
    width: 90%;
    padding: 2.5rem;
    position: relative; 
}

.login-input {
    background-color: #e1e3e5;
    border-radius: 50px;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    width: 90%;
    display: inline-block;
}

.login-button {
    background-color: #1a6d36; 
    border-color: #1a6d36;
    padding: 0.60rem 5rem;
    font-size: 1.2rem;
    border-radius: 50px;
    width: 50%;
    display: inline-block;
}

.login-button:hover {
    background-color: #15552b;
    border-color: #124d25;
}

.ifes-logo {
    max-width: 150px;
    height: auto;
    margin-top: 2rem;
}

.login-title {
    color: #1a8754;
    font-size: 5.5rem;
    font-weight: 700;
    position: absolute;
    top: -66px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0 15px;
    z-index: 10;
}

.cadastro-text {
    font-size: 1.3rem;
}

.cadastro-danger {
    font-size: 1.3rem;
    text-decoration: none;
}